<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" style="width: 100%;height: 100%;" href="{% url 'index' %}"><img src="/static/assets/images/logo.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" style="width: 100%;height: 100%;" href="{% url 'index' %}"><img src="/static/assets/images/logo.png" alt="logo" /></a>
    </div>
    <ul class="nav">
        <!--NEWS ITEM-->
        <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'index' %}">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">NEWS</span>
            </a>
        </li>
        <!--GATE ITEM-->
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic"  >
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Gate1</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav  sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'gate_about' 1 %}">Gate About</a></li>
                  {% for Item in gateLink %}
                    {% if Item.assin_link_to_gateway == "G1" %}
                      <li class="nav-item"> <a class="nav-link" href="{% url 'gate_link'  Item.id %}">{{Item.Link_Name}}</a></li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic1"  >
            <span class="menu-icon">
              <i class="mdi mdi-laptop"></i>
            </span>
            <span class="menu-title">Gate2</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic1">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'gate_about' 2 %}">Gate2 About</a></li>
              {% for IItem in gateLink %}
                {% if IItem.assin_link_to_gateway == "G2" %}
                  <li class="nav-item"> <a class="nav-link" href="{% url 'gate_link'  IItem.id %}">{{Item.Link_Name}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
        <!--Area Codes Item Start-->
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'area_code' %}">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Area Codes</span>
          </a>
        </li>
        <!--Area Codes Item End-->
        <!--History Start-->
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'history' %}">
            <span class="menu-icon">
              <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">History</span>
          </a>
        </li>
        <!--History End-->
          <!--Online Support Start-->
        <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'onlineSupport' %}">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">onlineSupport</span>
          </a>
        </li>
        <!--Online Support end-->
    </ul>
</nav>
