{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content-wrapper">
        <!--Header-->
        <div class="page-header">
            <h5 class="page-title"> Area Codes LookUp </h5>
        </div>   
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[Area Find info] start-->
            <div class="col-sm-12 grid-margin">
                <div class="card">
                    <div class = "card-header">
                        <h4>Insert up to 50 phon number to serach info about its area code for free</h4>
                    </div>
                    <form method = "post" action = "">
                        {% csrf_token %}
                        <div class = "card-body">
                          {% if segment == "in(p)_response" %}
                            <textarea name="area_inputData" id = "area_inputData" rows="10" cols="30" style="width: 100%;">{{in_data}}</textarea>   
                          {% else %}     
                            <textarea name="area_inputData" id = "area_inputData" rows="10" cols="30" style="width: 100%;"></textarea>                              
                          {% endif %}   
                        </div>
                        <div class="card-footer">
                            <div style ="text-align:center;">
                                  <button name ="123" class="btn btn-primary"  type="submit" value = "send_data">Find Area</button>
                            </div>
                        </div>
                    </form>                                       
                </div>
            </div>
            
             <!--[Area Find result] start-->
            {% if segment == "in(p)_response" %}
            <div class="col-lg-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Search Result</h4>
                    <a class="card-description">Found : 1 / </a>
                    <a class="card-description">Not Found:1<a>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> ID </th>
                            <th id = "p1"> Data as inserted </th>
                            <th> Area Code </th>
                            <th> State </th>
                            <th> City </th>
                            <th> Country </th>
                            <th> Time Zone</th>
                            <th> URL </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in find_result %}
                          <tr>
                            <td> {{forloop.counter}} </td>
                            {% for ii in i %}
                              <td >{{ii}}</td>
                            {% endfor %}
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class = "card-footer">
                    <div class = "row" style = "text-align:center;">
                        <div class = "col-sm-4" style ="text-align:left;">
                            <a class="btn btn-primary" onclick="copyToClipboard('copy_area_p1')">Copy All Results</a>
                        </div>
                        <div class = "col-sm-4" style ="text-align:center;">
                            <a class="btn btn-primary" onclick="copyToClipboard('copy_area_p2')">Copy Found Only</a>
                            
                        </div>
                        <div class = "col-sm-4" style ="text-align:right;">
                          <a class="btn btn-primary" onclick="copyToClipboard('copy_area_p3')">Copy Not Found Only</a>
                        </div>
                        
                       
                    </div>
                                                
                </div>
              </div>
            {% endif %}
        </div>
    </div>
    <script>
      function copyToClipboard(element) {
        if(element == "copy_area_p1")
        {
            $.ajax({
                    type: 'POST',
                    url : "get_area_all",
                    data:{
                        message:"ALL",
                        csrfmiddlewaretoken:getCookie("csrftoken"),
                    },
                    success: function(response){
                        console.log(response.item);
                    },
                    error: function(response){
                        alert('An error occured')
                    } 
                }
            )    
        }
        else if(element == "copy_area_p2")
        {
          $.ajax({
                    type: 'POST',
                    url : "get_area_all",
                    data:{
                        message:"FND",
                        csrfmiddlewaretoken:getCookie("csrftoken"),
                    },
                    success: function(response){
                        console.log(response.item);
                    },
                    error: function(response){
                        alert('An error occured')
                    } 
                }
            )    
        }
        else if(element == "copy_area_p3")
        {
          $.ajax({
                    type: 'POST',
                    url : "get_area_all",
                    data:{
                        message:"NFD",
                        csrfmiddlewaretoken:getCookie("csrftoken"),
                    },
                    success: function(response){
                        console.log(response.item);
                    },
                    error: function(response){
                        alert('An error occured')
                    } 
                }
            )    
        }
          
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val("1234567890").select();
        document.execCommand("copy");
       
        $temp.remove();
      }
    
    </script>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
