{% extends "layouts/base.html" %}

{% block title %} DepositFunds {% endblock %} 
<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <!--<link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">-->
  <!-- End plugin css for this page -->

{% endblock plugin_stylesheets %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content-wrapper">
        <div class="page-header">
            <h5 class="page-title"> Deposit Funds </h5>
        </div>   
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[D F info] start-->
            <div class="col-sm-12  grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <a>For Depoist Histroy  </a><a href="{% url 'history' 300 %}" >  Click Here</a>
                    </div>

                </div>
            </div>
            <!--[Gate1 Link] end-->
            <div class="col-sm-12  grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class = "row">
                            <div class = "col-sm-7" style="font-size: 20px;">
                                <a>Insert amount you like to deposit in USD:  </a><input type="text" id = "input_amount" onblur="select_ticker('{{min_amount}}')" style="max-width: 10%;margin-left: 10px;">
                            </div>
                            <div class = "col-sm-3" style="font-size: 20px;" id="df_exchange_amount">
                               
                            </div>
                            <div class = "col-sm-2">
                                <button type="button" class="btn btn-primary mb-2" onclick="send_deposit_click()">Deposit</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-6 grid-margin" >
                <div class="card">
                    <div class="card-body" style="height:353px;">
                        <div class="form-group">
                            <label>Single select box using select 2</label>
                            <select onchange="select_ticker('{{min_amount}}')" id = "sel_ticker" class="js-example-basic-single" style="width:100%">
                                {% for kk in tickers %}
                                <option  value="{{kk.ticker}}" selected><image src = "{{kk.img}}"></image>{{kk.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-sm-6 grid-margin" >
                <div class="card">
                    <div class="card-header">
                        <h5>Payment Info</h5>
                    </div>
                    <div class="card-body" style="height: 300px;">
                        <dix class ="row">
                            <div class = "col-sm-8" id = "df_address_info">
                                
                            </div>
                            <div class = "col-sm-4" id="df_qrcode"  >
                                
                            </div>
                        </dix>
                        
                    </div>
                </div>
            </div>
           
                
        </div>
    <div>
<script>
    var amount = 0;
    var m_seletedTicker = "";
    function select_ticker(min_amount){
        var input_amount= document.getElementById('input_amount').value;
        var e = document.getElementById("sel_ticker");
        m_seletedTicker = e.options[e.selectedIndex].value
        console.log(input_amount)
        console.log(m_seletedTicker)

        if (input_amount == "")
        {
            alert("Please Insert amount");
            return;
        }
        else
        {
            if(parseFloat(input_amount) < parseFloat(min_amount))
            {
                str = "Amount must be greater than\t"+min_amount+",Please input large value";
                alert(str);
                return;
            }
            $("#df_exchange_amount").empty();
            tmp = "<div class=\"spinner-border text-muted\"></div>"
            $("#df_exchange_amount").append(tmp);
            $.ajax({
                type: 'POST',
                url : "df_selected_ticker",
                data:{
                    ticker:m_seletedTicker,
                    amount:input_amount,
                    csrfmiddlewaretoken:getCookie("csrftoken"),
                },
                success: function(response){
                    amount = response.estimatedAmount
                    tmp = "<a>You Get:"+response.estimatedAmount+"\t\t"+m_seletedTicker +"</a>";
                    $("#df_exchange_amount").empty();
                    $("#df_exchange_amount").append(tmp);
                    console.log(response.estimatedAmount);
                },
                error: function(response){
                    alert('An error occured')
                } 
            })
        }
        
     
    }
    function send_deposit_click(){
       // amount= document.getElementById('input_amount').value;
        $("#df_address_info").empty();
        $("#df_qrcode").empty();
        if(selected_ticker = "")
        {
            alert("Please Select Ticker")
        }
        else{
        
            $.ajax({
                type: 'POST',
                url : "df_deposit_click",
                data:{
                    ticker:m_seletedTicker,
                    amount:amount,
                    csrfmiddlewaretoken:getCookie("csrftoken"),
                },
                success: function(response){
                    console.log(response);
                    if(JSON.stringify(response).includes("error"))
                    {
                        tmp = "<p>Amount:</p><a>" +amount +"\t"+ m_seletedTicker +"</a>";
                        tmp +="<p>Error:\t"+response.error+"</p><p>";
                        tmp +="Message:\t" + response.message +"</p>";
                        $("#df_address_info").append(tmp);
                        
                    }
                    else
                    {
                        tmp = "<p>Amount:</p><a>" +amount +"\t"+ m_seletedTicker +"</a>";
                        tmp +="<p>To this address:</p><a>"+response.payinAddress+"</a>";
                        $("#df_address_info").append(tmp);
                        qrc = new QRCode(document.getElementById("df_qrcode"), 
                            {
                                text: response.payinAddress,
                                width: 150,
                                height: 150,
                                correctLevel : QRCode.CorrectLevel.H
                            });
                    }
                  

                  
                    
                },
                error: function(response){
                    alert('An error occured')
                } 
            })
        }   
    }
    
</script>        
{% endblock content %}
<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}