{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h5 class="page-title"> About Gate {{pk}} </h5>
    </div>   
    <!-- [ Main Content ] start -->
    
        <!--[D F info] start-->
        {% for ABOUT_ITEM in about %}
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-header">
                    <h5>About Gate  {{ pk }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ABOUT_ITEM.About_Gate | safe}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--[About Gate1] end-->
        <!--[Gate1 Link] start-->
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class = "row">
                    {% for GL_ITEM in nes_gateLink %}
                        <div class="col">
                            <a href={% url 'gate_link'  GL_ITEM.id %}>
                                <img class="img-xs rounded-circle" src={{ GL_ITEM.Link_Logo_tiny.url }} alt="">
                                <p class="text-muted mb-4">{{GL_ITEM.Link_Name}}</p>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

       
        
    
</div>

        
{% endblock content %}
