{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h5 class="page-title">
            Gate Link
            <!--<div class="col-sm-3">
                <i class="fab fa-angellist text-c-purple f-50"></i>
            </div>
            <div class="col-sm-6">
                <div class="page-header-title" style="text-align: center;">
                    <h2 class="m-b-10">Gate 2 Link 1</h2>
                </div>
            </div>
                <div class="col-sm-3" style="text-align: right;">
                    <p  ><h4> Cost:0.00025</h4></p>
                    <p> <h3> Creadit </h3> </p>
                </div>
            </div>-->
           
        </h5>
    </div>   
    <!-- [ Main Content ] start -->
    <div class="row">
        <!--[D F info] start-->
        <div class="col-sm-12  grid-margin">
            <div class="card">
                <div class="card-header" style="text-align: Center;" >
                    <p style="font-size: 150%;color: #ffffff;">Please select insert format</p>
                </div>
                <div class="card-body">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1"> Phone Number #DD # MM # YY </label>
                    </div>
                    <hr>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Phone Number #DD # MM # YYYY</label>
                    </div>
                    <hr>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3">Phone Number #YY # MM # DD</label>
                    </div>
                </div>
                <div class="card-footer">
                    <div style = "text-align:left;">
                        <p style = "color:red">#-delimiter,any 1 none -alphanumeric symbol(not letter or number)</p>
                    
                        <div style ="text-align:right;">
                            <a href="#" class="btn btn-primary">Save Fomart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[About Gate1] end-->
        <!--[Gate1 Link] start-->
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class = "card-header">
                    <h4>John Doe</h4>
                </div>

                <div class = "card-body">
                  
                    <p >Some example text some example text. Some example text 
                        some example text. Some example text some example text. Some example text some example text.</p>
                    
                </div>
                                            
                <div class="card-footer">
                    <div style ="text-align:right;">
                        <a href="#" class="btn btn-primary">Preview Data</a>
                    </div>
                </div>

            </div>
        </div>
        <!--[Gate1 Link] end-->
        <!--[Batch ID] start-->
        <div class = "col-sm 12 grid-margin">
            <div class="card">
                <div class="card-header">
                <div class = "row">
                    <div class ="col">Batch ID:3</div>
                    <div class ="col"><a href="#">Retry the Fails ones again click here</a></div>
                    <div class ="col">Start time:3:23</div>
                    <div class ="col">Finish time:3:23</div>
                </div>
                </div>
                <div class="card-body">
                    <div class="clearfix"></div>
                    <div class = "row">
                        <div class ="col">Status:Finished</div>
                        <div class ="col">Total:9</div>
                        <div class ="col">Successd:12</div>
                        <div class ="col">Done:18</div>
                        <div class ="col">Remains:0</div>
                        <div class ="col">Expand Frame+</div>
                    </div>
                    
                </div>
            
            </div>
        </div>
        <div class="col-sm-12 grid-margin">

            <div class="card">
                <div class="card-header">
                <div class = "row">
                    <div class ="col">Batch ID:3</div>
                    <div class ="col"><a href="#">Retry the Fails ones again click here</a></div>
                    <div class ="col">Start time:3:23</div>
                    <div class ="col">Finish time:3:23</div>
                </div>
                </div>
                <div class="card-body">
                    <div class="clearfix"></div>
                    <div class = "row">
                        <div class ="col">Status:Finished</div>
                        <div class ="col">Total:9</div>
                        <div class ="col">Successd:12</div>
                        <div class ="col">Done:18</div>
                        <div class ="col">Remains:0</div>
                        <div class ="col">Expand Frame+</div>
                    </div>
                    
                </div>
            
            </div>
        </div>
        <div class="col-sm-12 grid-margin">
        

            <div class="card">
                <div class="card-header">
                <div class = "row">
                    <div class ="col">Batch ID:3</div>
                    <div class ="col"><a href="#">Retry the Fails ones again click here</a></div>
                    <div class ="col">Start time:3:23</div>
                    <div class ="col">Finish time:3:23</div>
                </div>
                </div>
                <div class="card-body">
                    <div class="clearfix"></div>
                    <div class = "row">
                        <div class ="col">Status:Finished</div>
                        <div class ="col">Total:9</div>
                        <div class ="col">Successd:12</div>
                        <div class ="col">Done:18</div>
                        <div class ="col">Remains:0</div>
                        <div class ="col">Expand Frame+</div>
                    </div>
                    
                </div>
            
            </div>
        </div>
        <!--[Batch ID] end-->    

    </div>
</div>

   
        
{% endblock content %}
