{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
    $(document).ready(function(){
    
        setInterval(function(){
            $.ajax({
                type: 'POST',
                url : "/get_link_info",
                data:{
                    message:$('#msg_running_batch_id').val(),
                    csrfmiddlewaretoken:getCookie("csrftoken"),
                },
                success: function(response){
                    if (response.status == 'OK')
                    {
                        for(kkk in response.batch)
                        {
                            var i = 0;
                            var temp=""
                            temp_kkk = response.batch[kkk];
                            $("#glb_batch_finish_time").empty();
                            $("#glb_batch_start_time").empty();
                            $("#glb_batch_status").empty();
                            $("#glb_batch_total").empty();
                            $("#glb_batch_success").empty();
                            $("#glb_batch_done").empty();
                            $("#glb_batch_remains").empty();
                            $("#glb_batch_fail").empty();
                            $("#glb_gate_body").empty();
                            var temp ="Finish time:" + temp_kkk.finish_time;
                            $("#glb_batch_finish_time").append(temp);
                            var temp ="Start time:" + temp_kkk.start_time;
                            $("#glb_batch_start_time").append(temp);
                            var temp ="Status:" + temp_kkk.status;
                            $("#glb_batch_status").append(temp);
                            var temp ="Total:" + temp_kkk.total;
                            $("#glb_batch_total").append(temp);
                            var temp ="Successd:" + temp_kkk.succeed;
                            $("#glb_batch_success").append(temp);
                            var temp ="Done:" + temp_kkk.done;
                            $("#glb_batch_done").append(temp);
                            var temp ="Remains:" +temp_kkk.remains;
                            $("#glb_batch_remains").append(temp);
                            var temp ="Fails:" + temp_kkk.fail;
                            $("#glb_batch_fail").append(temp);
                            
                            for (var key in response.gate)
                            {
                                i++;
                                var mm=response.gate[key];
                                temp+="<tr><td>"+i+"</td><td>"+mm.inserted_text+"</td>";
                                if(mm.status == 1)
                                {
                                    temp+="<td><div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td><td> Processing</td>";
                                }
                                else 
                                {
                                    temp+="<td>"+mm.result1 +"</td><td>"+mm.result2 +"</td><td>"+mm.result3 +"</td><td>"+mm.result4 +"</td><td>"+mm.result5 +"</td><td>";
                                    if(mm.status == 0) temp+="In_Queue";
                                    else if(mm.status == 2) temp+="Fail";
                                    else if(mm.status == 3) temp+="Done";
                                    temp+="</td>"
                                }
                                temp+="</tr>"
                            }
                        }
                        $("#glb_gate_body").append(temp);
                    }
                    
                },
                error: function(response){
                    //alert('An error occured')
                }     
            });
        },1000);
    })
</script>
<div class="content-wrapper">
    <div class="page-header">
        
        <div class = "col-sm-12">
            <div class ="row">
            <div class = "col-sm-4">   
                <img class="img-xs rounded-circle" src={{ logo.url }} alt="">         
            </div>
            <div class = "col-sm-4">
                <h5 class="page-title" >
                    {{Name}}
                </h5>
            </div>
            <div class = "col-sm-4" style="text-align: right;">
               <a>Cost:{{Cost}}USD</a>
            </div>
        </div>
        </div>
    </div>   
    <!-- [ Main Content ] start -->
    <div class="row">
        <!--[Select info] start-->
        <div class="col-sm-12  grid-margin">
            <div class="card">
                <div class="card-header" style="text-align: Center;" >
                    <p style="font-size: 150%;color: #ffffff;">Please select insert format</p>
                </div>
                <div class="card-body">
                    <form >
                        
                        {% for II in link_format %}
                            <div class="custom-control custom-radio" id="testppp">
                                
                                <input type="radio" id="{{II}}" name="radio" value = "{{II}}" class="custom-control-input" >
                                <label class="custom-control-label" for="{{II}}"> {{II.Members_View_Format}}</label>
                            </div>
                            <hr>
                        {% endfor %}
                    <p style = "color:red">#-delimiter,any 1 none -alphanumeric symbol(not letter or number)</p>
                    <div style ="text-align:right;">
                        <a onclick="GateLink_Send_Insertd_Data()" name="Gl_Send_InsertData" class="btn btn-primary">Save Fomart</a>
                    </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div style = "text-align:left;">
                        
                    
                        
                    </div>
                </div>
            </div>
        </div>
        <!--[Select info] end-->
        <!--[Gate1 Link] start-->
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class = "card-header">
                    <h4>Insert Data</h4>
                   
                </div>
                    <form name ="gatelink_preview_form">
                        
                        <input type ="hidden" name ="status_inserted_format" id = "status_inserted_format" value="">
                        <div class = "card-body">
                            <textarea name="gatelink_previewData_oh" id = "gatelink_previewData_oh" rows="10" cols="30" style="
                            width: 100%;"></textarea>
                            <div style="text-align: right;color: red;" id ="gl_error_preivewData">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div style ="text-align:right;">
                                <a onclick="GateLink_Send_Preview_Data()" name="GateLink_Send_Preview_Data" class="btn btn-primary">Preview Data</a>
                            </div>
                        </div>

                       
                    </form>                                       
            </div>
        </div>
        <!--[Gate1 Link] end-->
        <!--[Preview Data] Start-->
        <div class="col-sm-12 grid-margin"  >
            <form method ="post" action="">
                {% csrf_token %}
                <div class="card" id = "gatelink_result_data">

                </div>
            </form>
                               
        </div>
        {% if segment == "gate_link_result_error" %}
         <div class="col-sm-12 grid-margin" style="text-align: center;" id = "database_insert_error"> <p  style="color:red;text-align: center;">Error Data Insert,so you have to reinsert data!! </p></div>
       
        {% endif %}
        <!--[Batch ID] start-->
        {% if Total_Batch != 0 %}
            {% for i in Batch %}
                {% if i.link_name == Name %}
                    {% if i.status == "Running" %}
                        <div class="col-sm-12 grid-margin">
                            <div class="card">
                                <div class="card-header">
                                    <div class = "row">
                                        <input type ="hidden" id ="msg_running_batch_id" value ="{{i.batch_id}}">
                                        <div class ="col" id="glb_batch_id">Batch ID:{{i.batch_id}}</div>
                                        <div class ="col" style="text-align: center;"><a href="#">Retry the Fails ones again click here</a></div>
                                        <div class ="col" style="text-align: center;" id="glb_batch_start_time" >Start time:{{i.start_time}}</div>
                                        <div class ="col" style="text-align: right;" id="glb_batch_finish_time">Finish time:{{i.start_time}}</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class = "row">
                                        <div class ="col" id = "glb_batch_status">Status:{{i.status}}</div>
                                        <div class ="col" id = "glb_batch_total">Total:{{i.total}}</div>
                                        <div class ="col" id = "glb_batch_success">Successd:{{i.succeed}}</div>
                                        <div class ="col" id = "glb_batch_done">Done:{{i.done}}</div>
                                        <div class ="col" id = "glb_batch_fail">Fails:{{i.fail}}</div>
                                        <div class ="col" id = "glb_batch_remains">Remains:{{i.remains}}</div>
                                        <div class ="col" data-toggle="collapse" href="#col_gate_link_{{forloop.counter}}" aria-expanded="false" ><a>Expand Frame</a></div>
                                    </div>
                                    <div class="collapse" id="col_gate_link_{{forloop.counter}}">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" style="text-align: center;" >
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Data as Inserted</th>
                                                    <th> SQL Field 1</th>
                                                    <th> SQL Field 2</th>
                                                    <th> SQL Field 3</th>
                                                    <th> SQL Field 4</th>
                                                    <th> SQL Field 5</th>
                                                    <th> Status </th>
                                                </tr>
                                            </thead>
                                            <tbody id ="glb_gate_body">
                                                
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    {%else%}
                        <div class="col-sm-12 grid-margin">
                            <div class="card">
                                <div class="card-header">
                                    <div class = "row">
                                        <div class ="col">Batch ID:{{forloop.counter}}</div>
                                        <div class ="col" style="text-align: center;"><a href="#">Retry the Fails ones again click here</a></div>
                                        <div class ="col" style="text-align: center;">Start time:{{i.start_time}}</div>
                                        <div class ="col" style="text-align: right;">Finish time:{{i.start_time}}</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class = "row">
                                        <div class ="col">Status:{{i.status}}</div>
                                        <div class ="col">Total:{{i.total}}</div>
                                        <div class ="col">Successd:{{i.succeed}}</div>
                                        <div class ="col">Done:{{i.done}}</div>
                                        <div class ="col" id = "glb_batch_fail">Fails:{{i.fail}}</div>
                                        <div class ="col">Remains:{{i.remains}}</div>
                                        <div class ="col" data-toggle="collapse" href="#col_gate_link_{{forloop.counter}}" aria-expanded="false" ><a>Expand Frame</a></div>
                                    </div>
                                    <div class="collapse" id="col_gate_link_{{forloop.counter}}">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Data as Inserted</th>
                                                    <th> SQL Field 1</th>
                                                    <th> SQL Field 2</th>
                                                    <th> SQL Field 3</th>
                                                    <th> SQL Field 4</th>
                                                    <th> SQL Field 5</th>
                                                    <th> Status </th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                {% for III in Gate %}
                                                    {% if III.batch_id == i.batch_id %}
                                                        <tr>
                                                            <td> {{forloop.counter}} </td>
                                                            <td> {{III.inserted_text}} </td>
                                                            {% if III.status == 1 %}
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> Processing</td>
                                                            {% else %}
                                                            <td> {{III.result1}} </td>
                                                            <td> {{III.result2}} </td>
                                                            <td> {{III.result3}} </td>
                                                            <td> {{III.result4}} </td>
                                                            <td> {{III.result5}} </td>
                                                            <td>
                                                                {% if III.status == 0 %} 
                                                                    In_Queue
                                                                {% elif III.status == 2 %}
                                                                    Fail
                                                                {% elif III.status == 3 %}
                                                                    Done
                                                                {% endif %}
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <!--[Batch ID] end-->    
    </div>

</div>
<script>
    function GateLink_Send_Insertd_Data() {
        var getSelectedValue = document.querySelector( 'input[name="radio"]:checked');   
            if(getSelectedValue == null) 
            {   
                alert("Please Select Insert Format");  
            }  
            else
            {
                document.getElementById('status_inserted_format').value = "ok"
                $.ajax({
                        type: 'POST',
                        url : "/Gl_Send_InsertData",
                        data:{
                            seleted_data:getSelectedValue.value,
                            message:"FND",
                            csrfmiddlewaretoken:getCookie("csrftoken"),
                        },
                        success: function(response){
                            alert("Success Formart Select")
                            $("#database_insert_error").empty();
                            $("#gl_error_preivewData").empty();
                        },
                        error: function(response){
                           // alert('An error occured')
                        } 
                    }
                )
            }    
                
    }
    function GateLink_Send_Preview_Data() {
      
        //alert(document.forms["gatelink_preview_form"]["GateLink_Send_Preview_Data"].value);
        str_pre = document.getElementById('gatelink_previewData_oh').value;
        tmp_inserted_data = str_pre.trim().split("\n");
        if(str_pre.trim() == "") return;
        tmp_inserted_real_data = [];
        var cnt = 0;
        for(kk in tmp_inserted_data)
        {
            tmp_id_str="";
            if(tmp_inserted_data[kk].trim() != "")
            {
                for(kkk in tmp_inserted_data[kk])
                {
                    console.log(tmp_inserted_data[kk][kkk]);
                    if(tmp_inserted_data[kk][kkk]==" ")
                    {   
                        tmp_id_str +="*#*";
                        
                    } 
                    else{
                        tmp_id_str +=tmp_inserted_data[kk][kkk];
                    }
                }
                tmp_inserted_real_data.push(tmp_id_str);
            }

        }
        console.log(tmp_inserted_real_data);
        if(document.getElementById('status_inserted_format').value != "ok"  ) 
        {   
            document.getElementById('gl_error_preivewData').innerHTML ="<a >Error!Select Format Check</a>"; 
        }  
        else
        {

            $.ajax({
                    type: 'POST',
                    url : "/GateLink_Send_Preview_Data",
                    data:{
                        gatelink_previewData_oo:str_pre,
                        csrfmiddlewaretoken:getCookie("csrftoken"),
                    },
                    success: function(response){
                        $("#database_insert_error").empty();
                        temp_str111="<div class = \"card-body\"><div class=\"table-responsive\"> "    
                        temp_str111+="<table class=\"table table-bordered\" style=\"text-align: center;\"><thead><tr><th>id</th>";
                        for(kk in response.format_array)
                        {
                            temp_str111+="<th>"+response.format_array[kk]+"</th>"
                        }
                        temp_str111+="<th>CHECK</th></tr></thead><tbody>"
                        var tmp_id = 0;
                       
                        for(kk in response.data_array)
                        {
                            tmp_id = parseInt(kk)+1;
                            var temp_return_str = ""
                            temp_str111+="<tr><td>"+tmp_id.toString()+"</td>";
                                temp_return_str =tmp_inserted_real_data[kk].toString()+"##";
                            
                            for(k in response.format_array)
                            {
                                
                                if(k == 0)
                                {
                                    temp_return_str += response.data_array[kk][response.format_array[k]];
                                    temp_str111+="<td>"+response.data_array[kk][response.format_array[k]]+"<p style=\"text-align: center;color: red;\">";
                                    temp_str111+=response.data_array[kk].error+"</p></td>"
                                } 
                                else
                                {
                                    temp_return_str+="#"+response.data_array[kk][response.format_array[k]];
                                    temp_str111+="<td>"+response.data_array[kk][response.format_array[k]]+"</td>"
                                }
                            }
                            temp_str111+="<td><input type=\"checkbox\" name = \"check\" value = " +temp_return_str+"></td></tr>";
                            console.log(temp_return_str);
                                
                        }
                   
                        temp_str111+="</table></div><hr></hr><div style =\"text-align:right;\"><button "
                        temp_str111+="class=\"btn btn-primary\" name=\"real_data\"  value=\"ok\" type=\"submit\" >Insert Data</button>"
                        temp_str111+="</div></div>"
                        
                        $("#gatelink_result_data").empty();
                        $("#gatelink_result_data").append(temp_str111);
                    },
                    error: function(response){
                        //alert('An error occured')
                    } 
                }
            )
        }    
                
    }
</script>
{% endblock content %}
