{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h5 class="page-title"> About Gate {{pk}} </h5>
    </div>   
    <!-- [ Main Content ] start -->
    
        <!--[D F info] start-->
        {% for ABOUT_ITEM in about %}
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-header">
                    <h5>About Gate  {{ pk }}</h5>
                </div>
                <div class="card-body">
                    <p>{{ABOUT_ITEM.About_Gate | safe}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--[About Gate1] end-->
        <!--[Gate1 Link] start-->
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class = "row">
                    {% for GL_ITEM in nes_gateLink %}
                        <div class="col">
                            <a href={% url 'gate_link'  GL_ITEM.id %}>
                                <img class="img-xs rounded-circle" src={{ GL_ITEM.Link_Logo_tiny.url }} alt="">
                                <p class="text-muted mb-4">{{GL_ITEM.Link_Name}}</p>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!--[Batch ID] start-->
        {% if total_batch != 0 %}
        {% for i in batch %}
            <div class="col-sm-12 grid-margin">
                <div class="card">
                    <div class="card-header">
                        <div class = "row">
                            <div class ="col">Batch ID:{{i.batch_id}}</div>
                            <div class ="col" style="text-align: center;"><a href="#">Retry the Fails ones again click here</a></div>
                            <div class ="col" style="text-align: center;">Start time:{{i.start_time}}</div>
                            <div class ="col" style="text-align: right;">Finish time:{{i.start_time}}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class = "row">
                            <div class ="col">Status:{{i.status}}</div>
                            <div class ="col">Total:{{i.total}}</div>
                            <div class ="col">Successd:{{i.succeed}}</div>
                            <div class ="col">Done:{{i.done}}</div>
                            <div class ="col" id = "glb_batch_fail">Fails:{{i.fail}}</div>
                            <div class ="col">Remains:{{i.remains}}</div>
                            <div class ="col" data-toggle="collapse" href="#col_gate_link_{{forloop.counter}}" aria-expanded="false" ><a>Expand Frame</a></div>
                        </div>
                        <div class="collapse" id="col_gate_link_{{forloop.counter}}">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Data as Inserted</th>
                                        <th> SQL Field 1</th>
                                        <th> SQL Field 2</th>
                                        <th> SQL Field 3</th>
                                        <th> SQL Field 4</th>
                                        <th> SQL Field 5</th>
                                        <th> Status </th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    {% for III in gate %}
                                        {% if III.batch_id == i.batch_id %}
                                            <tr>
                                                <td> {{forloop.counter}} </td>
                                                <td> {{III.inserted_text}} </td>
                                                {% if III.status == 1 %}
                                                <td> <div class="spinner-border text-muted"></div> </td>
                                                <td> <div class="spinner-border text-muted"></div> </td>
                                                <td> <div class="spinner-border text-muted"></div> </td>
                                                <td> <div class="spinner-border text-muted"></div> </td>
                                                <td> <div class="spinner-border text-muted"></div> </td>
                                                <td> Processing</td>
                                                {% else %}
                                                <td> {{III.result1}} </td>
                                                <td> {{III.result2}} </td>
                                                <td> {{III.result3}} </td>
                                                <td> {{III.result4}} </td>
                                                <td> {{III.result5}} </td>
                                                <td>
                                                    {% if III.status == 0 %} 
                                                        In_Queue
                                                    {% elif III.status == 2 %}
                                                        Fail
                                                    {% elif III.status == 3 %}
                                                        Done
                                                    {% endif %}
                                                </td>
                                                {% endif %}
                                            </tr>
                                            
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div> 
            </div>
        {% endfor %}
    {% endif %}
        <!--[Batch ID] end-->   
    
</div>
<script>
function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    alert("sdfsdfsfd");
    $temp.remove();
  }
</script>
        
{% endblock content %}
