{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h5 class="page-title"> About Gate1 </h5>
    </div>   
    <!-- [ Main Content ] start -->
    
        <!--[D F info] start-->
        
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-header">
                    <h5>About Gate1</h5>
                </div>
                <div class="card-body">
                    <div class="clearfix"></div>
                    <h4>This is a Gate1:h4</h4>
                    <p class="text-muted mb-4">Nulla et mattis nunc. Curabitur scelerisque commodo condimentum. Mauris blandit, velit a consectetur egestas, diam arcu fermentum justo, eget ultrices arcu eros vel erat.</p>
                    <div class="clearfix"></div>
                    <h5>This is a Gat1:h5</h5>
                    <p class="text-muted mb-4">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio. Vivamus pretium nec odio cursus elementum. Suspendisse molestie ullamcorper ornare.
                    </p>
                    
                </div>
            </div>
        </div>
        <!--[About Gate1] end-->
        <!--[Gate1 Link] start-->
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class = "row">
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link1" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link2" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link3" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link4" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link5" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link6" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link7" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link8" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link9" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" title="G1 Link10" data-toggle="tooltip"></button>
                            <div class="clearfix"></div>
                            <p class="text-muted mb-4">G1 Link1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--[Gate1 Link] end-->
        <!--[Batch ID] start-->
        <div class="col-sm-12 grid-margin" >
            <div class="card">
                <div class="card-header">
                   <div class = "row">
                       <div class ="col">Batch ID:3</div>
                       <div class ="col">Retry the Fails ones again click here</div>
                       <div class ="col">Start time:3:23</div>
                       <div class ="col">Finish time:3:23</div>
                   </div>
                </div>
                <div class="card-body grid-margin">
                    <div class="clearfix"></div>
                    <div class = "row">
                        <div class ="col">Status:Finished</div>
                        <div class ="col">Total:9</div>
                        <div class ="col">Successd:12</div>
                        <div class ="col">Done:18</div>
                        <div class ="col">Remains:0</div>
                        <div class ="col">Expand Frame+</div>
                    </div>
                    
                </div>
               
            </div>
        </div>

        <div class="col-sm-12 grid-margin">

            <div class="card">
                <div class="card-header">
                   <div class = "row">
                       <div class ="col">Batch ID:3</div>
                       <div class ="col">Retry the Fails ones again click here</div>
                       <div class ="col">Start time:3:23</div>
                       <div class ="col">Finish time:3:23</div>
                   </div>
                </div>
                <div class="card-body">
                    <div class="clearfix"></div>
                    <div class = "row">
                        <div class ="col">Status:Finished</div>
                        <div class ="col">Total:9</div>
                        <div class ="col">Successd:12</div>
                        <div class ="col">Done:18</div>
                        <div class ="col">Remains:0</div>
                        <div class ="col">Expand Frame+</div>
                    </div>
                    
                </div>
               
            </div>
        </div>

        <div class="col-sm-12" grid-margin>
            <div class="card">
                <div class="card-header">
                   <div class = "row">
                       <div class ="col">Batch ID:3</div>
                       <div class ="col">Retry the Fails ones again click here</div>
                       <div class ="col">Start time:3:23</div>
                       <div class ="col">Finish time:3:23</div>
                   </div>
                </div>
                <div class="card-body">
                    <div class="clearfix"></div>
                    <div class = "row">
                        <div class ="col">Status:Finished</div>
                        <div class ="col">Total:9</div>
                        <div class ="col">Successd:12</div>
                        <div class ="col">Done:18</div>
                        <div class ="col">Remains:0</div>
                        <div class ="col">Expand Frame+</div>
                    </div>
                    
                </div>
               
            </div>
        </div>
        <!--[Batch ID] end-->   
    
</div>


        
{% endblock content %}
