{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
    $(document).ready(function(){
        tmp_sel_item = document.getElementById('hi_select_item').value;
        console.log(tmp_sel_item);
        history_click(tmp_sel_item);
    })
</script>
    <div class="content-wrapper">
        <!--Header-->
        <div class="page-header">
            <h5 class="page-title"> History </h5>
            <input type ="hidden" name ="hi_select_item" id = "hi_select_item" value="{{sel_item}}">
        </div>   
        
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[D F info] start-->
            <div class="col-sm-12  grid-margin">
                <div class = "card">
                    <ul class="nav nav-pills mb-3" style="justify-content: space-evenly;
                        align-items: baseline;margin-top: 15px;" role="tablist">
                        {% for kk in btn_array %}
                            {% if kk == sel_item %}
                                <li class="nav-item">
                                    <a type = "button" onclick="history_click('{{kk}}')" name = "history_click" class="nav-link active" data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">{{kk}}</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a type = "button" onclick="history_click('{{kk}}')" name = "history_click" class="nav-link " data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="true">{{kk}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!--<li class="nav-item">
                            <a type = "button" onclick="history_click('G2')" name = "history_click" class="nav-link active"  data-toggle="pill"  role="tab" aria-controls="pills-profile" aria-selected="false">Gate2</a>
                        </li>
                        <li class="nav-item">
                            <a type = "button" onclick="history_click('deposit')" name = "history_click" class="nav-link"  data-toggle="pill"  role="tab" aria-controls="pills-contact" aria-selected="false">Deposit</a>
                        </li>-->
                            <!--<li class = "nav-item">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-info dropdown-toggle" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-clock"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                                        <a class="dropdown-item" href="#">All Days</a>
                                        <a class="dropdown-item" href="#">Form</a>
                                        <a class="dropdown-item" href="#">to</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </li>-->
                            <li class = "nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Group Select </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <div class="form-group">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="hi_groupOption"  value="op1" checked> Group By Btach </label>
                                            </div>
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="hi_groupOption" value="op2"> Do Not Group</label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </li>
                    </ul>
                    <div class="tab-content" style = "height:1000px;" id="hi_Content">
                      
                    </div>    
                </div>
            </div>
        </div>
    </div>
<script>
    function history_click(m_type)//type:0-all,1-Success only ,2-Done only ,3-Fail only 
    {
        var m_GroupOption = document.querySelector( 'input[name="hi_groupOption"]:checked').value;
        console.log(m_GroupOption);
        $.ajax
        ({
            type: 'POST',
            url : "/history_get_info",
            data:{
                type:m_type,
                groupOption:m_GroupOption,
                csrfmiddlewaretoken:getCookie("csrftoken"),
            },
            success: function(response){
                console.log(response);
                $("#hi_Content").empty();
                tmp="";
                if(m_GroupOption == "op1")
                {
                    for(key in response.batch_array)
                    {     
                        tmp+="<div class=\"col-sm-12 grid-margin\"><div class=\"card\"><div class=\"card-header\"><div class =\"row\"> <input type =\"hidden\" id =\"msg_running_batch_id\"  value =";
                        tmp+= response.batch_array[key]['batch_id']+"> <div class =\"col-sm-2\" id=\"glb_batch_id\">Batch ID:"+ response.batch_array[key]['batch_id']+"</div>";
                        tmp+="<div class =\"col-sm-2\" style=\"text-align: center;\">";
                        if(response.batch_array[key]['status'] == "Stopped")
                        {
                            tmp+="<a onclick =\"gateLink_get_batch_data(2,\'{{Name}}\',"+response.batch_array[key]['batch_id']+")\" name= \"gateLink_get_batch_status\" style=\"color: #3c3636;\">Resume the stopped Click here</a></div>"
                            tmp+="<div class =\"col-sm-3\" style=\"text-align: center;\">Start time:"+response.batch_array[key]['start_time']+"</div>";
                            tmp+="<div class =\"col-sm-3\" style=\"text-align: right;\">Finish time:"+response.batch_array[key]['finish_time']+"</div>";
                        }
                        
                        else if(response.batch_array[key]['status'] == "Finised")
                        {
                            tmp+="<a onclick =\"gateLink_get_batch_data(3,\'{{Name}}\',"+response.batch_array[key]['batch_id']+")\" name= \"gateLink_get_batch_status\" style=\"color: #3c3636;\">Retry the Fails ones again click here</a></div>"
                            tmp+="<div class =\"col-sm-3\" style=\"text-align: center;\">Start time:"+response.batch_array[key]['start_time']+"</div>";
                            tmp+="<div class =\"col-sm-3\" style=\"text-align: right;\">Finish time:"+response.batch_array[key]['finish_time']+"</div>";
                        }
                        else if(response.batch_array[key]['status'] == "Running")
                        {
                            tmp+="<a onclick =\"gateLink_get_batch_data(3,\'{{Name}}\',"+response.batch_array[key]['batch_id']+")\" name= \"gateLink_get_batch_status\" style=\"color: #3c3636;\">STOP the process of this batch click here</a></div>"
                            tmp+="<div class =\"col-sm-4\" style=\"text-align: center;\">Start time:"+response.batch_array[key]['start_time']+"</div>";
                            tmp+="<div class =\"col-sm-2\" style=\"text-align: right;\">Finish time:--:--:--</div>";
                        }
                            
                    
                        tmp+="<div class =\"col-sm-2\" data-toggle=\"collapse\" href=\"#col_gate_link_"+response.batch_array[key]['batch_id']+"\" aria-expanded=\"false\" ><a style=\"cursor: pointer;\">Expand Frame</a></div>";
                        tmp+="</div> </div> <div class=\"card-body\"> <div class =\"row\">";
                        tmp+="<div class =\"col\">Status:"+response.batch_array[key]['status']+"</div>";
                        tmp+="<div class =\"col\">Total:"+response.batch_array[key]['total']+"</div>";
                        tmp+="<div class =\"col\">Successd:"+response.batch_array[key]['succeed']+"</div>"  ;
                        tmp+="<div class =\"col\">Done:"+response.batch_array[key]['done']+"</div>";
                        tmp+="<div class =\"col\">Fails:"+response.batch_array[key]['fail']+"</div>"   ;            
                        tmp+="<div class =\"col\">Remains:"+response.batch_array[key]['remains']+"</div></div>" ;                             
                        tmp+="<div class=\"collapse\" id=\"col_gate_link_"+ response.batch_array[key]['batch_id'] +"\">";
                        tmp+="<div class=\"table-responsive\" style=\"overflow-y: auto;max-height: 550px;\"><table class=\"table table-bordered\" style=\"text-align: center;\" >";
                        tmp+="<thead><tr><th>Data as Inserted</th><th> SQL Field 1</th><th> SQL Field 2</th><th> SQL Field 3</th><th> SQL Field 4</th><th> SQL Field 5</th><th> Status </th></tr></thead>";
                        tmp+="<tbody style=\"text-align: center;\">";
                        for(kk in response.gate_array)
                        {
                            if(response.gate_array[kk]['batch_id'] == response.batch_array[key]['batch_id'])
                            {
                                tmp+="<tr><td>"+response.gate_array[kk]['inserted_text']+"</td>"
                                if(response.gate_array[kk]['status'] == 1)
                                {
                                    
                                    tmp+="<td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td> Processing</td>";
                                }
                                else
                                {
                                    tmp+="<td>"+response.gate_array[kk]['result1']+"</td><td>"+response.gate_array[kk]['result2']+"</td><td>"+response.gate_array[kk]['result3'];
                                    tmp+="</td><td>"+response.gate_array[kk]['result4']+"</td><td>"+response.gate_array[kk]['result5']+"</td><td>";
                                    if(response.gate_array[kk]['status'] == 0 ) tmp+="In_Queue";
                                    else if(response.gate_array[kk]['status'] == 2) tmp+="Fail";
                                    else if(response.gate_array[kk]['status'] == 3) tmp+="Done";
                                    tmp+="</td>";
                                }
                                tmp+="</tr>";
                            }
                        }
                        tmp+="</tbody></table></div>";
                        /*tmp+="<div style=\"margin-top:10px\"><form><a style=\"margin-right: 2%;color: red;\">Selected row copy data</a><label class=\"checkbox-inline\" style=\"margin-right:1%;\">";
                        tmp+="<input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\"value=\"DI\" checked>Data as Inserted</label>";
                        tmp+="<label class=\"checkbox-inline\" style=\"margin-right:1%;\"><input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\" value=\"SF1\" checked>SQL Field 1</label>";
                        tmp+="<label class=\"checkbox-inline\" style=\"margin-right:1%;\"> <input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\" value=\"SF2\" checked>SQL Field 2</label>";
                        tmp+="<label class=\"checkbox-inline\" style=\"margin-right:1%;\"> <input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\" value=\"SF3\" checked>SQL Field 3</label>";
                        tmp+="<label class=\"checkbox-inline\" style=\"margin-right:1%;\"> <input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\" value=\"SF4\" checked>SQL Field 4</label>";
                        tmp+="<label class=\"checkbox-inline\" style=\"margin-right:1%;\"> <input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\" value=\"SF5\" checked>SQL Field 5</label>";
                        tmp+="<label class=\"checkbox-inline\" style=\"margin-right:1%;\"> <input type=\"checkbox\" name = \"gl_cpy_checkbox_"+response.batch_array[key]['batch_id']+"\" value=\"ST\" checked>Status</label></form></div>";*/
                        /*tmp+="<div class=\"row\" style=\"text-align:center;\">";
                        tmp+="<div class = \"col-sm-3\"><a onclick=\"copy_result("+response.batch_array[key]['batch_id'] +",0)\" name=\"copy_all_result\" class=\"btn btn-primary\">Copy All Result</a> </div>"; 
                        tmp+="<div class = \"col-sm-3\"><a onclick=\"copy_result("+response.batch_array[key]['batch_id'] +",1)\" name=\"copy_succeed_only\" class=\"btn btn-primary\">Copy Succeed Only</a> </div>";
                        tmp+="<div class = \"col-sm-3\"><a onclick=\"copy_result("+response.batch_array[key]['batch_id'] +",2)\" name=\"copy_done_only\" class=\"btn btn-primary\">Copy Done Only</a> </div>";
                        tmp+="<div class = \"col-sm-3\"><a onclick=\"copy_result("+response.batch_array[key]['batch_id'] +",3)\" name=\"copy_fail_only\" class=\"btn btn-primary\">Copy Fail Only</a> </div>";                   */
                        tmp+="</div></div></div></div></div>"; 
                                
                    }
                }
                else
                {
                    if(response.gate_array.length == 0) return;
                    tmp+="<div class=\"table-responsive\" style=\"overflow-y: auto;max-height: 550px;\"><table class=\"table table-bordered\" style=\"text-align: center;\" >";
                    tmp+="<thead><tr><th>Data as Inserted</th><th> SQL Field 1</th><th> SQL Field 2</th><th> SQL Field 3</th><th> SQL Field 4</th><th> SQL Field 5</th><th> Status </th></tr></thead>";
                    tmp+="<tbody style=\"text-align: center;\">";
                    for(kk in response.gate_array)
                    {
                        tmp+="<tr><td>"+response.gate_array[kk]['inserted_text']+"</td>"
                        if(response.gate_array[kk]['status'] == 1)
                        {
                            
                            tmp+="<td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td><div class=\"spinner-border text-muted\"></div> </td><td> Processing</td>";
                        }
                        else
                        {
                            tmp+="<td>"+response.gate_array[kk]['result1']+"</td><td>"+response.gate_array[kk]['result2']+"</td><td>"+response.gate_array[kk]['result3'];
                            tmp+="</td><td>"+response.gate_array[kk]['result4']+"</td><td>"+response.gate_array[kk]['result5']+"</td><td>";
                            if(response.gate_array[kk]['status'] == 0 ) tmp+="In_Queue";
                            else if(response.gate_array[kk]['status'] == 2) tmp+="Fail";
                            else if(response.gate_array[kk]['status'] == 3) tmp+="Done";
                            tmp+="</td>";
                        }
                        tmp+="</tr>";
                        
                    }
                    tmp+="</tbody></table></div>";

                }
                $("#hi_Content").append(tmp);

                console.log(response);
            },
            error: function(response){
                // alert('An error occured')
            } 
        })
    }
</script>
   
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
