{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="content-wrapper">
        <!--Header-->
        <div class="page-header">
            <h5 class="page-title"> History </h5>
        </div>   
        <!-- [ Main Content ] start -->
        <div class="row">
            <!--[D F info] start-->
            <div class="col-sm-12  grid-margin">
                <div class = "card">
                    <ul class="nav nav-pills mb-3" style="justify-content: space-evenly;
                        align-items: baseline;margin-top: 15px;" role="tablist">
                        <li class="nav-item">
                                <a type = "button" onclick="history_click('G1')" name = "history_click" class="nav-link " data-toggle="pill"  role="tab" aria-controls="pills-home" aria-selected="false">Gate1</a>
                            </li>
                            <li class="nav-item">
                                <a type = "button" onclick="history_click('G2')" name = "history_click" class="nav-link active"  data-toggle="pill"  role="tab" aria-controls="pills-profile" aria-selected="true">Gate2</a>
                            </li>
                            <li class="nav-item">
                                <a type = "button" onclick="history_click('deposit')" name = "history_click" class="nav-link"  data-toggle="pill"  role="tab" aria-controls="pills-contact" aria-selected="false">Deposit</a>
                            </li>
                            <li class = "nav-item">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-info dropdown-toggle" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-clock"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                                        <a class="dropdown-item" href="#">All Days</a>
                                        <a class="dropdown-item" href="#">Form</a>
                                        <a class="dropdown-item" href="#">to</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </li>
                            <li class = "nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Group Select </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <div class="form-group">
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="hi_groupOption"  value="op1" checked> Group By Btach </label>
                                            </div>
                                            <div class="form-check">
                                              <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="hi_groupOption" value="op2"> Do Not Group</label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </li>
                    </ul>
                    <div class="tab-content" style = "height:1000px;" id="hi_Content">
                      <!-- <div class="col-sm-12 grid-margin">
                            <div class="card">
                                <div class="card-header">
                                    <div class = "row">
                                        <div class ="col">Batch ID:{{forloop.counter}}</div>
                                        <div class ="col" style="text-align: center;"><a href="#">Retry the Fails ones again click here</a></div>
                                        <div class ="col" style="text-align: center;">Start time:{{i.start_time}}</div>
                                        <div class ="col" style="text-align: right;">Finish time:{{i.start_time}}</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class = "row">
                                        <div class ="col">Status:{{i.status}}</div>
                                        <div class ="col">Total:{{i.total}}</div>
                                        <div class ="col">Successd:{{i.succeed}}</div>
                                        <div class ="col">Done:{{i.done}}</div>
                                        <div class ="col" id = "glb_batch_fail">Fails:{{i.fail}}</div>
                                        <div class ="col">Remains:{{i.remains}}</div>
                                        <div class ="col" data-toggle="collapse" href="#col_gate_link_{{forloop.counter}}" aria-expanded="false" ><a>Expand Frame</a></div>
                                    </div>
                                    <div class="collapse" id="col_gate_link_{{forloop.counter}}">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Data as Inserted</th>
                                                    <th> SQL Field 1</th>
                                                    <th> SQL Field 2</th>
                                                    <th> SQL Field 3</th>
                                                    <th> SQL Field 4</th>
                                                    <th> SQL Field 5</th>
                                                    <th> Status </th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align: center;">
                                                {% for III in Gate %}
                                                    {% if III.batch_id == i.batch_id %}
                                                        <tr>
                                                            <td> {{forloop.counter}} </td>
                                                            <td> {{III.inserted_text}} </td>
                                                            {% if III.status == 1 %}
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> <div class="spinner-border text-muted"></div> </td>
                                                            <td> Processing</td>
                                                            {% else %}
                                                            <td> {{III.result1}} </td>
                                                            <td> {{III.result2}} </td>
                                                            <td> {{III.result3}} </td>
                                                            <td> {{III.result4}} </td>
                                                            <td> {{III.result5}} </td>
                                                            <td>
                                                                {% if III.status == 0 %} 
                                                                    In_Queue
                                                                {% elif III.status == 2 %}
                                                                    Fail
                                                                {% elif III.status == 3 %}
                                                                    Done
                                                                {% endif %}
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                        </div>
                                        
                                        
                                    </div>
                                    
                                </div>
                            </div> 
                        </div>--> 
                    </div>    
                </div>
            </div>
        </div>
    </div>
<script>
    function history_click(m_type)//type:0-all,1-Success only ,2-Done only ,3-Fail only 
    {
        var m_GroupOption = document.querySelector( 'input[name="hi_groupOption"]:checked').value;
        console.log(m_GroupOption);
        alert(m_GroupOption);
        alert(m_type);
        $.ajax
        ({
            type: 'POST',
            url : "/history_get_info",
            data:{
                type:m_type,
                groupOption:m_GroupOption;
                csrfmiddlewaretoken:getCookie("csrftoken"),
            },
            success: function(response){
                $("#hi_Content").empty();
                var tmp = "<div class=\"col-sm-12 grid-margin\">";
                var cnt = 0;
                for(key in response.batch_array)
                {
                    cnt ++;

                    tmp +="<div class=\"card\"> <div class=\"card-header\"><div class = \"row\"><div class =\"col\">Batch ID:";
                    tmp += cnt+"</div><div class =\"col\" style=\"text-align: center;\"><a href=\"#\">Retry the Fails ones again click here</a></div> <div class =\"col\" style=\"text-align: center;\">Start time:";
                    tmp += response.batch_array[key]['start_time']+"</div><div class =\"col\" style=\"text-align: right;\">Finish time:";
                    tmp += response.batch_array[key]['finish_time']+"</div></div></div><div class=\"card-body\"><div class = \"row\"><div class =\"col\">Status:";
                    tmp += response.batch_array[key]['status']+"</div><div class =\"col\">Total:"+ response.batch_array[key]['total'];
                    tmp +="</div> <div class =\"col\">Successd:"+ response.batch_array[key]['succeed'] + "</div><div class =\"col\">Done:"+response.batch_array[key]['done'] ;
                    tmp +="</div><div class =\"col\" id =\"glb_batch_fail\">Fails:"+response.batch_array[key]['fail']+"</div><div class =\"col\">Remains:"+ response.batch_array[key]['remains'];
                    tmp += "</div><div class = \"col\" data-toggle = \"collapse\" href = \"#col_gate_link_" + key+ "\" aria-expanded=\"false\" ><a>Expand Frame</a></div></div><div class=\"collapse\" id=\"col_gate_link_"+key;
                    tmp +="\"> <div class=\"table-responsive\"><table class=\"table table-bordered\"><thead><tr><th>ID</th><th>Data as Inserted</th><th> SQL Field 1</th><th> SQL Field 2</th>"
                    tmp +="<th> SQL Field 3</th><th> SQL Field 4</th><th> SQL Field 5</th><th> Status </th></tr></thead><tbody style=\"text-align: center;\">";
                    for(kk in response.gate_array)
                    {
                        if(response.gate_array[kk]['bi'] == response.batch_array[key]['batch_id'])
                        {
                            tmp+="<tr><td>"+kk +"</td> <td>"+response.gate_array[kk]['di']+"</td>";
                            if( response.gate_array[kk]['st'] == 1)
                            {
                                tmp+="<td> <div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td><td> <div class=\"spinner-border text-muted\"></div> </td>"
                                tmp+=" <td> <div class=\"spinner-border text-muted\"></div> </td><td> Processing</td>"
                            }
                            else
                            {
                                tmp+="<td>"+response.gate_array[kk]['sf1']+"</td><td>"+response.gate_array[kk]['sf2']+"</td><td>"+response.gate_array[kk]['sf3']+"</td><td>"+response.gate_array[kk]['sf4']+"</td><td>"+response.gate_array[kk]['sf5']+"</td> <td>";
                                if(response.gate_array[kk]['st'] == 0) tmp+="In_Queue";
                                else if(response.gate_array[kk]['st'] == 2) tmp+="Fail";
                                else if(response.gate_array[kk]['st'] == 3) tmp+="Done";
                                tmp+="</td>"
                            }
                            tmp+="</tr>"
                        }
                        
                    }
                    tmp+="</tbody></table></div></div></div></div>";
                }
                $("#hi_Content").append(tmp);

                console.log(response);
            },
            error: function(response){
                // alert('An error occured')
            } 
        })
    }
</script>
   
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
