{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h5 class="page-title"> Latest News </h5>
    </div>
    <div class = "row">
        <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div class = "row">
                    <div class = "col-4">
                        <a> Title </a>
                    </div>
                    <div class = "col-4" style = "text-align:right;">
                        <a>Date</a>
                    </div>
                    <div class = "col-4" style = "text-align:right;">
                        <span class="menu-icon">
                            <a >More</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class = "row">
                    <div class = "col-4">
                        <a> Sample News </a>
                    </div>
                    <div class = "col-4" style = "text-align:right;">
                        <a>2022/5/6</a>
                    </div>
                    <div class = "col-4" style = "text-align:right;">
                        <span class="menu-icon">
                            <a class="mdi mdi-menu" data-toggle="collapse" href="#ui-index-new2" aria-expanded="false" ></a>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="collapse" id="ui-index-new2">
                    <ul class="nav flex-column sub-menu">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                        sustainable VHS.</p>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class = "row">
                    <div class = "col-4">
                        <a> Sample News </a>
                    </div>
                    <div class = "col-4" style = "text-align:right;">
                        <a>2022/5/6</a>
                    </div>
                    <div class = "col-4" style = "text-align:right;">
                        <span class="menu-icon">
                            <a class="mdi mdi-menu" data-toggle="collapse" href="#ui-index-new1" aria-expanded="false" ></a>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="collapse" id="ui-index-new1">
                    <ul class="nav flex-column sub-menu">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                        sustainable VHS.</p>
                    </ul>
                </div>
            </div>
          
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
