{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
    $(document).ready(function(){
    
    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "get_message",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    var temp="<div class='container darker'><b>"+response.messages[key].user+"</b><p>"+response.messages[key].value+"</p><span class='time-left'>"+response.messages[key].date+"</span></div>";
                    $("#display").append(temp);
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
    },1000);
    })
</script>
<div class="content-wrapper">
    <!--Header-->
    <div class="page-header">
        <h1 class="page-title"> Online Support</h1>
    </div>   
    <!-- [ Main Content ] start -->
    <div class="row">
        <!--[D F info] start-->
        <div class="col-sm-12  grid-margin">
            <div class="card">
                <div class="card-header">
                    <h5>
                        If support is offline you can always leave your message and wiil
                        reply as soon as possible once available
                    </h5>
                </div>
                <div class="card-body" style = "height:800px;">
                    <div id="display"  class="clearfix"></div>
                    
                    </div>
                </div>
                <div class ="card-footer">
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <form id = "onlineSupport_post_form">
                                {% csrf_token %}
                                <input type="text"  name="onlineSupport_message" id = "onlineSupport_message" placeholder="Type a message">
                                <button class="btn btn-primary" type="submit" value = "send_message">Send</button>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      
{% endblock content %}
